In [8]:
from tabulate import tabulate
file = open("Salary.txt","r")
formattedList = []
for line in file:
    formattedList.append(line.strip().split(','))
print(tabulate(formattedList, headers=['Last', 'First', 'Salary']))

Last      First       Salary
--------  --------  --------
Ling      Mai          55900
Johnson   Jim          56500
Jones     Aaron        46000
Jones     Chris        34500
Swift     Geoffrey     14200
Xiong     Fong         65000
Zarnecki  Sabrina      51500